/**
*
* Your custom SCSS
*
**/

.intro-illustration {
  position: absolute;
  left: 0;
  top: 0px;
  width: 720px;
  @media #{$bm} {
    display: none;
  }
}

.press-logo {
  display: inline-block;
  margin-right: 35px;
  vertical-align: middle;
  img {
    margin: 15px 0;
  }
  &.hb {
    width: 174px;
  }
  &.impulse {
    width: 125px;
  }
  &.talentpro {
    width: 124px;
  }
}

.uniform__potty {
  position: absolute;
  left: -9999px;
}

.contact-form {
  padding: 0 160px;
  @media #{$bm} {
    padding: 0 20px;
  }
  input, label {
    display: block;
  }
  .section-heading.big {
    text-align: left;
    h2 {
      margin-bottom: 20px;
    }
  }
  .form-success {
    background: #1ABC9C;
    padding: 20px 30px;
    border-radius: 3px;
    color: #fff;
  }
  .form-fail {
    background: #FF475E;
    padding: 20px 30px;
    border-radius: 3px;
    color: #fff;
  }
  .checkbox {
    padding-left: 25px;
    position: relative;
    input {
      position: absolute;
      left: 0;
      top: 4px;
    }
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(0,0,0,0.3);
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: rgba(0,0,0,0.3);
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: rgba(0,0,0,0.3);
  }
  :-moz-placeholder { /* Firefox 18- */
    color: rgba(0,0,0,0.3);
  }
}

a.btn-contact {
  border: 1px solid $ca1 !important;
  padding: 4px 12px !important;
  color: $ca1 !important;
  border-radius: 18px;
  margin-top: -4px;
  @media #{$bm} {
    color: #eee !important;
    padding: 0;
  }
  img {
    margin: 0;
    width: 16px;
    border-radius: 0;
    margin: 0 3px;
    @media #{$bm} {
      display: none;
    }
  }
}

.topbar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background: $c6;
  text-align: center;
  height: $topbar-height;
  p {
    padding: 8px 0;
    font-size: 17px;
  }
  .btn-topbar {
    padding: 3px 12px;
    background-color: #232732;
    border-radius: 3px;
    border-bottom: none;
    color: #fff !important;
    margin: 0 8px; 
  }
}

.topbar-placeholder{
  height: $topbar-height;
}

.grey-bg {
  background-color: #ECEDF2;
}

.color-bg {
  background-color: #d2d5e8;
}

.button-container {
  text-align: center;
  &.left {
    text-align: left;
  }
}

.pricing-list {
	margin: 0 auto $sp1 auto;
	padding: 0 $sp2 - 20px 0 $sp2 - 10px;
  text-align: center;
	.item {
		width: 33%;
		float: left;
		padding: 0 10px;
		margin: 0;
		@media #{$bm} {
		    width: auto;
			margin-bottom: $sp2;
    }
    .box {
      background-color: white;
      box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
      margin: 0 15px;
      &:hover {
        h3 {
          a {
            border-bottom-color: $ca1;
          }
        }
      }
      h3 {
        line-height: 1.4;
        margin: 0 0 10px 0;
        padding: 15px;
        font-size: 26px;
        margin: 0;
        background: blue;
        color: white;
      }
      .list {
        text-align: left;
        padding: 10px 0 20px;
      }
      .price {
        font-size: 22px;
      }
    }
	}
}

// HOW IT WORKS

.how-it-works.listing-compact {
	margin: 0 auto $sp1 auto;
  padding: 0 20px 0 30px;
  @media #{$bm} {
    padding: 0 20px 0 20px;
  }
	.item {
		width: 33%;
		float: left;
    padding: 0 35px 0 0;
		margin: 0;
		@media #{$bm} {
		    width: auto;
      margin-bottom: $sp2;
      padding: 0;
		}
		&:hover {
			img {
				transform: scale3d(1.02,1.02,1.02);
				transition: .3s all ease;
			}
			h3 {
				a {
					border-bottom-color: $ca1;
				}
			}
		}
		.image-listing {
      margin: 20px 0 30px;
			img {
				margin: 0 0 $sp3/2 0;
        transition: .5s all ease;
        max-width: 326px;
        @media #{$bm} {
          max-width: auto;
          width: 100%;
        }
			}
		}
		h3 {
			line-height: 1.5;
      margin: 0 0 10px 0;
      font-size: 22px;
		}
		.meta-container {
			margin: 8px 0 10px 0;
			padding: 0;
		}
	}
}

// ADVANTAGES

.advantages.listing-compact {
	margin: 0 auto $sp1 auto;
  padding: 0 20px 0 30px;
  @media #{$bm} {
    margin: 0 auto 20px auto;
  }
	.item {
		width: 25%;
		float: left;
    padding: 0 35px;
		margin: 0;
		@media #{$bm} {
		  width: auto;
      margin-bottom: 15px;
      padding: 0 10px;
		}
		&:hover {
			img {
				transform: scale3d(1.02,1.02,1.02);
				transition: .3s all ease;
			}
			h3 {
				a {
					border-bottom-color: $ca1;
				}
			}
		}
		.image-listing {
      margin: 20px 0 30px;
			img {
				margin: 0 0 $sp3/2 0;
        transition: .5s all ease;
        max-width: 326px;
			}
		}
		h3 {
			line-height: 1.5;
      margin: 0 0 10px 0;
      font-size: 22px;
		}
		.meta-container {
			margin: 8px 0 10px 0;
			padding: 0;
		}
	}
}

section {
  padding: 30px 0;
}

.divider {
  width: 100px;
  height: 4px;
  background-color: $ca1;
  display: inline-block;
  margin: 40px 0 0;
}

.about-text {
  padding: 50px 70px;
  @media #{$bm} {
    padding: 10px 10px;
  }
  h2 {
    font-size: 32px;
    line-height: 1.4em;
    @media #{$bm} {
      font-size: 26px;
    }
  }
}

// TESTIMONIALS

.testimonials {
  .glide__bullets {
    @media #{$bm} {
      bottom: 4%;
    }  
  }
  .glide__bullets > *:focus {
    background-color: #ccc;
    border-color: #ccc;
  }
  @media #{$bm} {
    text-align: center;
  }
  .image-wrapper {
    width: 250px;
    height: 250px;
    display: inline-block;
    margin: 30px;
    @media #{$bm} {
      width: 180px;
      height: 180px;
    }
    img {
      border-radius: 50%;
    }
  }
  .text-wrapper {
    display: inline-block;
    vertical-align: top;
    margin: 30px;
    @media #{$bm} {
      width: 100%;
      margin: 0;
    }
    p {
      font-size: 34px;
      color: #111;
      font-weight: 600;
    }
    h3 {
      font-weight: 100;
      @media #{$bm} {
        margin-bottom: 50px;
      }
    }
  }
}

// CONTACT FORM
.contact-form {
  input[type="submit" i] {
    margin: 20px auto 0;
    padding: 6px 100px;
    line-height: 42px;
    overflow: hidden;
    position: relative;
    border: 0;
    color: #fff !important;
    background: #0002df;
  }
}

// EBOOK
.ebook {
  padding: 0px 60px;
  @media #{$bm} {
    padding: 0px 20px;
  }
  .ebook-preview {
    width: 450px;
    margin: 0 60px;
    @media #{$bm} {
      width: 100%;
      margin: 0;
    }
  }
  h1 {
    margin: 60px 0 0;
    @media #{$bm} {
      margin: 0;
    }
  }
  p {
    margin: 60px 0;
    @media #{$bm} {
      margin: 30px 0 0;
    }
  }
  .columns {
    @media #{$bm} {
      margin-right: 0;
    }
  }
} 

// cookie

$ka-cookie-bg: #222 !default;
$ka-cookie-color: #fff !default;
$ka-cookie-link-color: #31a8f0 !default;
$ka-cookie-link-color-hover: #b2f7ff !default;
$ka-cookie-btn-bg: #FDD804 !default;
$ka-cookie-btn-color: #222 !default;
$ka-cookie-position: bottom-right !default;

#cookie_banner-wrapper {
  z-index: 9001;
  position: relative;

  @-webkit-keyframes fadeInRight {
    0% {
      opacity: 0;
      -webkit-transform: translateX(20px);
      transform: translateX(20px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }

  @keyframes fadeInRight {
    0% {
      opacity: 0;
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
    }
  }

  .cookie_container {

    position: fixed;

    @if $ka-cookie-position == 'top-right' or $ka-cookie-position == 'top-left' {
      top: 0;
    } @else {
      bottom: 0;
    }

    overflow: hidden;
    padding: 15px;
    background: $ka-cookie-bg;
    color: $ka-cookie-color;
    box-sizing: border-box;
    font-size: 0.8em;

    @media (max-width: 499px) {
      left: 0;
      right: 0;
    }

    @media (min-width: 500px) {

      width: 300px;

      @if $ka-cookie-position == 'top-right' {
        top: 20px;
        right: 20px;
      } @else if $ka-cookie-position == 'top-left' {
        top: 20px;
        left: 20px;
      } @else if $ka-cookie-position == 'bottom-left' {
        bottom: 20px;
        left: 20px;
      } @else {
        bottom: 20px;
        right: 20px;
      }

    }

    @media screen and (min-width: 768px) {
      font-size: 0.9em;
    }

    .cookie_message {

      a {
        text-decoration: none;
        color: $ka-cookie-link-color;

        &:hover {
          text-decoration: underline;
          color: lighten($ka-cookie-link-color-hover, 5%);
        }

        &:active {
          color: $ka-cookie-link-color-hover;
        }
      }

    }

    .cookie_btn {
      background-color: $ka-cookie-btn-bg;
      color: $ka-cookie-btn-color;
      border-radius: 5px;
      border: 1px solid transparent;
      padding: 3px 12px;
      text-align: center;
      cursor: pointer;
      width: 100%;
      margin: 20px 0 0;

      &:hover {
        background-color: lighten($ka-cookie-btn-bg, 5%);
      }
    }

    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.8s;
    -moz-animation-duration: 0.8s;
    -o-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight

  }
}

@media print {
  #cookie_banner-wrapper {
    display: none
  }
}