$bg: #ffffff;
$bgCode: #272822;

$cStroke: rgba(100,100,100,.2);

$c1: #111;
$c2: #44444a;
$c3: #aaa;
$c4: #eee;
$c5: #747474;

//
// Accent Colors
//
// Currently they are set trough the Panel.
// Uncomment if you'd like to compile the SCSS files manually.
// --------------------------------------------------------------
// $ca1: #1eb069;
// $ca2: #0bbcd6;
// --------------------------------------------------------------
